/* Focus mode */

.roam-block-container .roam-block,
.rm-page-ref,
a.rm-alias:not(.rm-alias--external),
.rm-alias {
  color: var(--cl-main);
}

.roam-body .roam-app .roam-main .roam-article:focus-within .rm-title-display,
.rm-block-children:focus-within .roam-block,
.rm-block-children:focus-within .rm-page-ref,
.rm-block-children:focus-within a.rm-alias:not(.rm-alias--external),
.rm-block-children:focus-within .rm-alias {
    color: var(--cl-secondary);
}

.roam-block-container:focus-within > .rm-block-main > .roam-block,
.roam-block-container:focus-within > .rm-block-main > .roam-block .rm-page-ref,
.roam-block-container:focus-within > .rm-block-main > .roam-block .rm-alias,
.roam-block-container:focus-within > .rm-block-main > .roam-block a.rm-alias:not(.rm-alias--external) {
  color: var(--cl-main);
}



/* Current bullet focus */
:root {
    --bc-bullet__inner: var(--cl-secondary);
    --br-multibar--hover: 3px solid var(--cl-primary);
}

.roam-block-container:focus-within > .rm-block-main > div:nth-child(1) .rm-bullet .rm-bullet__inner {
    background-color: black !important;
}

@media (prefers-color-scheme: dark) {
    .roam-block-container:focus-within > .rm-block-main > div:nth-child(1) .rm-bullet .rm-bullet__inner {
        background-color: white !important;
    }
}

.rm-multibar {
  border-right-color: transparent;
}

