/* Focus mode */
.roam-block-container .roam-block {
  color: var(--cl-main);
}
.rm-page-ref {
    color: var(--cl-main);
}
.roam-block-container:focus-within .roam-block {
  color: var(--cl-main);
}
.roam-block-container:focus-within > .rm-block-main > .roam-block {
  color: var(--cl-main);
}
.roam-block-container:focus-within > .rm-block-main > .roam-block .rm-page-ref {
  color: var(--cl-main);
}

/* .roam-block-container:not(:focus-within) .rm-bold, */ 
/* .roam-block-container:not(focus-within) .rm-bold::before, */ 
/* .roam-block-container::not(focus-within) .rm-bold::after { */
/*     color: var(--cl-main--nuke); */
/* } */

/* .roam-block-container:focus-within > .rm-block-main > .roam-block .rm-bold, */ 
/* .roam-block-container:focus-within > .rm-block-main > .roam-block .rm-bold::before, */ 
/* .roam-block-container:focus-within > .rm-block-main > .roam-block .rm-bold::after { */
/*     color: var(--cl-main--nuke); */
/* } */

.roam-body .roam-app .roam-main .roam-article:focus-within .rm-title-display {
    color: var(--cl-secondary);
}
.rm-block-children:focus-within .roam-block {
  color: var(--cl-secondary);
}
.rm-block-children:focus-within .rm-page-ref {
  color: var(--cl-secondary);
}

.rm-multibar {
  border-right-color: transparent;
}

/* Current bullet focus */
:root {
    --bc-bullet__inner: var(--cl-secondary);
    --br-multibar--hover: 3px solid var(--cl-primary);
}

.roam-block-container:focus-within > .rm-block-main > div:nth-child(1) .rm-bullet .rm-bullet__inner {
    background-color: black !important;
}

@media (prefers-color-scheme: dark) {
    .roam-block-container:focus-within > .rm-block-main > div:nth-child(1) .rm-bullet .rm-bullet__inner {
        background-color: white !important;
    }
}
