/* General */

:root {
  --cl-primary: #18BEEC;
  --cl-main: #1A1A1A;
  --cl-secondary: #C5C4C2;
  --cl-main--nuke: #000;
  --bc-main: #F7F7F7;
  --bc-secondary: #FCFCFC;
  --bc-highlight: #FDE566;
  --co-brackets: #C7C3C2;
  --co-secondary: #C7C3C2;
  --co-page__title: var(--cl-main--nuke);
  --bc-right-sidebar__content: var(--bc-secondary);
  --bc-right-sidebar__toprow: var(--bc-secondary);
  --bc-right-sidebar__container: var(--bc-secondary);
  --bc-reference__item: var(--bc-secondary);
  --bt-reference__item: var(--bc-secondary);
  --br-reference__item: var(--bc-secondary);
  --bb-reference__item: var(--bc-secondary);
  --bl-reference__item: var(--bc-secondary);
  --co-alias: var(--cl-primary);

  --fs-main: 20px;
  --fs-secondary: 14px;
  --fs-div: var(--fs-main);
  --fs-page__title: var(--fs-main);
  --fw-page__title: bold;
  --fs-starred__page: 14px;
  --fs-logbutton: 14px;
  --fw-page__title: 900;
}

@media(prefers-color-scheme: dark) {
    :root {
        --cl-main: #CCCCCC;
        --cl-secondary: #707070;
        --cl-main--nuke: #fff;
        --bc-main: #1A1A1A;
        --bc-secondary: #141414;
        --bc-highlight: #784C0D;
        --co-brackets: #707070;
        --co-secondary: #707070;
    }
}


html {
  caret-color: var(--cl-primary);
}


/* Daily page spacing */
.roam-log-container .roam-log-page:first-child {
  min-height: 90vh !important;
}
.rm-reference-main {
  margin-top: 200px;
}

/* Simpler search input */
input[type=search]:not(:focus) {
  box-shadow: none;
  border: 0;
}
input[type=search] {
    font-family: var(--ff-native);
}
.rm-find-or-create-wrapper .search-icon {
    display: none;
}

.rm-block__controls {
  font-size: var(--fs-main);
  line-height: initial;
}
