/* Sidebar */
.roam-sidebar-container,
.roam-sidebar-content,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button,
.roam-sidebar-content a,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .rm-db-title {
    font-family: var(--ff-native);
    font-weight: 400,
}

.starred-pages-wrapper .title {
    display: none;
}

:root {
    /* --co-starred__page: #1A1A1A; */
    --co-starred__page: var(--cl-main);
    --co-starred__page--hover: var(--cl-main);
    --bt-starred__page--hover: 0;
    --br-starred__page--hover: 0;
    --bb-starred__page--hover: 0;
    --bl-starred__page--hover: 0;
    --bt-starred__page: 0;
    --br-starred__page: 0;
    --bb-starred__page: 0;
    --bl-starred__page: 0;
}

.roam-body .roam-app .roam-sidebar-container {
    background-color: #FCFCFC;
}
.roam-sidebar-container,
.roam-sidebar-content,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button,
.roam-sidebar-content a,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .rm-db-title {
    color: #1A1A1A;
    font-weight: 400;
}

@media(prefers-color-scheme: dark) {
    :root {
    }
    .roam-body .roam-app .roam-sidebar-container {
        background-color: #141414;
    }
    .roam-sidebar-container,
    .roam-sidebar-content,
    .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button,
    .roam-sidebar-content a,
    .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .rm-db-title {
        color: var(--cl-main);
    }

    .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
        border-bottom: 1px solid #1F1F1F;
    }
}

@media(prefers-color-scheme: light) {
    .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
        border-bottom: 1px solid #F0F0F0;
    }
}


.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
    cursor: default;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
    padding: 2px 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages a:last-of-type .page {
    border-bottom: 0;
}
.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper > div[style*='background-color: rgb(57, 75, 89);'],
.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper > div {
    background-color: transparent !important;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper {
    padding: 8px 0 !important;
}
